body { 
  font-family: Arial, sans-serif; 
  padding: 0; 
  background-color: #f7f7f7; 
  margin: 0px; 
}
.container {
  max-width: 400px; 
  margin: 0 auto;
  padding: 10px 0px 20px 0px; 
  background-color: #FFF7FB; 
}
h1 { 
  color: #e91e63;
  text-align: left;
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
}

.date-row {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px 0;
  background-color: #ffcdd2; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.date-item {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px 0; 
  font-weight: bold;
  font-size: 14px;
  color: #f06292;
}
.date-item.selected {
  background-color: #f06292; 
  color: white;
  border-radius: 20px;
  margin: 0 5px;
}

#auth-button, #google-login-button {
  padding: 8px 15px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 8px;
}
#google-login-button {
  background-color: #4285F4;
}

.time-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 11px;
  font-size: 16px;
  font-weight: bold;
  color: #555;
}
.time-input-group input {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.input-group-item {
  margin-bottom: 10px;
}

#new-item-input, #image-url-input { 
  padding: 12px; 
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}
#add-button { 
  padding: 0; 
  cursor: pointer; 
  background-color: #9c27b0; 
  color: white; 
  border: none; 
  border-radius: 50%; 
  width: 40px;
  height: 40px;
  font-size: 26px;
  font-weight: bold;
  line-height: 40px; 
  text-align: center;
  margin-left: 10px;
  flex-shrink: 0;
}

.schedule-content {
  display: none;
}
.schedule-content.active {
  display: block;
}
.input-section {
  display: none;
}
.input-section.active {
  display: block;
}

ul { list-style: none; padding: 0; box-shadow: none; }
li.schedule-item { 
  padding: 0; border-bottom: none; margin-bottom: 15px; display: block;
  border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); cursor: pointer;
}
.item-header {
  display: flex; justify-content: space-between; align-items: center;
  padding: 15px; background-color: #f7f7f7; border-radius: 8px; transition: border-radius 0.2s;
}
.schedule-item.open .item-header { border-radius: 8px 8px 0 0; border-bottom: 1px solid #ddd; }
.item-name { font-weight: bold; color: #e91e63; flex-grow: 1; margin-left: 10px; font-size: 18px; }
.item-time { font-weight: bold; color: #333; font-size: 16px; }

.delete-btn {
  color: #ff7043; cursor: pointer; font-size: 1.2em; margin-left: 15px; flex-shrink: 0;
  display: none; 
}
.schedule-item.editable .delete-btn {
  display: inline; 
}

.item-details { display: none; padding: 15px; background-color: white; border-radius: 0 0 8px 8px; border: 1px solid #ddd; border-top: none; }
.schedule-item.open .item-details { display: block; }

.item-images { margin-top: 10px; overflow: hidden; border-radius: 4px; }
.item-images img { max-width: 100%; height: auto; display: block; }

